In [1]:
import pandas as pd
import geopandas as gpd

In [2]:
path1 = "/users/eleves-b/2023/wenrui.dai/Desktop/environment/Helsinki/Locomizer_OD_hexes_R9_45_2023_i4_dw5_weekends.csv"
df1 = pd.read_csv(path1)
df1

,Unnamed: 0,ORIGIN_CODE9,DESTINATION_CODE9,EXTRAPOLATED_NUMBER_OF_USERS
0,0,890899610dbffff,890899610dbffff,173.0
1,1,89089961323ffff,89089961323ffff,178.5
2,2,89089961357ffff,89089961357ffff,329.0
3,3,8908996145bffff,8908996145bffff,216.0
4,4,89089961643ffff,89089961643ffff,238.0
...,...,...,...,...
2662,2662,891126d76d3ffff,89089968313ffff,108.0
2663,2663,891126d76d7ffff,891126d76d7ffff,455.5
2664,2664,891126dad87ffff,891126d1163ffff,329.0
2665,2665,891126dad8fffff,891126d1977ffff,143.0
2666,2666,891126dadbbffff,891126dadbbffff,238.0

In [3]:
path2 = "/users/eleves-b/2023/wenrui.dai/Desktop/environment/Helsinki/h3_points_Helsinki.gpkg"
df2 = gpd.read_file(path2)
df2

                   id                   geometry
0     891126d4ecbffff  POINT (25.13214 60.35217)
1     891126d2167ffff  POINT (24.91546 60.23829)
2     891126c319bffff  POINT (25.16207 60.19955)
3     891126da957ffff   POINT (25.11062 60.1552)
4     891126d768bffff  POINT (24.99315 60.27919)
...               ...                        ...
8535  8908996b42bffff  POINT (24.63498 60.15087)
8536  89089968393ffff  POINT (24.74269 60.19384)
8537  8908996f217ffff  POINT (24.78417 60.26851)
8538  89089969e33ffff  POINT (24.80627 60.16448)
8539  891126d72bbffff  POINT (25.03377 60.28688)

[8540 rows x 2 columns]

In [5]:
df2_copy = df2.copy()
df2["id"] = df2["id"].astype(str)
df1["ORIGIN_CODE9"] = df1["ORIGIN_CODE9"].astype(str)
df1["DESTINATION_CODE9"] = df1["DESTINATION_CODE9"].astype(str)

In [6]:
df2_indexed = df2.set_index("id")
df2_indexed

                                  geometry
id
891126d4ecbffff  POINT (25.13214 60.35217)
891126d2167ffff  POINT (24.91546 60.23829)
891126c319bffff  POINT (25.16207 60.19955)
891126da957ffff   POINT (25.11062 60.1552)
891126d768bffff  POINT (24.99315 60.27919)
...                                    ...
8908996b42bffff  POINT (24.63498 60.15087)
89089968393ffff  POINT (24.74269 60.19384)
8908996f217ffff  POINT (24.78417 60.26851)
89089969e33ffff  POINT (24.80627 60.16448)
891126d72bbffff  POINT (25.03377 60.28688)

[8540 rows x 1 columns]

In [7]:
origin_points = df2_indexed.loc[df1["ORIGIN_CODE9"]].reset_index()
destination_points = df2_indexed.loc[df1["DESTINATION_CODE9"]].reset_index()
origins = gpd.GeoDataFrame(origin_points, geometry="geometry", crs=df2.crs)
destinations = gpd.GeoDataFrame(destination_points, geometry="geometry", crs=df2.crs)

In [8]:
origins.to_file("TD_origins_15.gpkg", driver="GPKG")
destinations.to_file("TD_destinations_15.gpkg", driver="GPKG")